/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
/*----------------------------------------------------*/
body {
    padding: 0;
    margin: 0;
}
img {
    object-fit: cover;
}
.container {
    margin-left: 12%;
    margin-right: 12%;
}
element {
    --main-color: #faba4c;
  }
/*       header          */

.header {
    position: relative;
    top: 0;
    height: 70px;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
}
.header__fl {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo {
    margin-top: 17px;
}
.logo_img {
    width: 100%;
    height: auto;
}
.header__inner {
    background: linear-gradient(to right,
                                 rgb(255 255 255 / 44%),
                                 rgb(255 255 255 / 95%),
                                 rgb(255 255 255 / 100%),
                                 rgb(255 255 255 / 95%), 
                                 rgb(255 255 255 / 44%));
    padding-left: 20%;
    padding-right: 20%;
    z-index: 10000000000;
}
.header__inner::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Высота контура */
    background: linear-gradient(to right, transparent, gray, transparent);
  }
.cler__color {
    padding-left: 3%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
}
.nav {
    margin-top: 3%;
}
.nav__link {
    font-size: 18px;
    padding: 7px;
    color: rgb(44, 70, 90);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.143;
    text-decoration: none;
}
.nav__link:hover {
    color: #faba4c ;
}
/*       header/end          */  
/*       banner              */
.banner {
    background-image: url(img/bgfon.jpg);
}
.banner__fon {
    height: 200px;
}
.banner__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    padding-top: 100px;
    font-family: sans-serif;
}/*  не используеться */
.About_Us {
    padding-top: 80px;
    text-align: center;
    font-size: 2em;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 0.536;
}
  
/*       banner/end          */
/*       Out_history         */
.Out__history {
    width: 100%;
    margin-bottom: 60px;
    padding-right: 13%;
    padding-left: 13%;
}
.our {
    font: 1em sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 35px;
    color:rgb(20, 20, 29);
    line-height: 0.629;
}
.lorem {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-top: 33px;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(92, 99, 105);
    line-height: 1.857;
}
.video__scrin {
/*     margin-left: 13%;
    margin-right: 13%;*/
    margin-top: 47px;
    max-width: 2000px;
    height: auto;
    width: 100%;
}
/*       Out_history/end     */

/*       Speciality          */
.Speciality {
    background-color: blanchedalmond;
    padding-right: 16%;
    width: 100%;
}
.Sp__inner {
    display: flex;            
    justify-content: flex-start;
}
.text__Sp {
    padding-left: 5%;
}
.title__Sp {
    padding-top: 10%;
    font-size: 20px;
    color:rgb(20, 20, 29);
}
.mini__title {
    padding-top: 40px;
    font-size: 17px;
    font-family: "Myriad Pro";
    color: rgb(20, 20, 29);
    text-transform: uppercase;
    line-height: 1.133;
}
.text__paragraph {
    display: block;
    padding-top: 20px;
    font-size: 15px;
    font-family: "Sintony";
    color: rgb(92, 99, 105);
    line-height: 1.857;
}
.sp__img__main__img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
}
.hr {
    margin-top: 5%;
    margin-left: -50%;
    float: left;
    width: 150%;
    height: 2px;
    background-color: rgb(129, 129, 129);
}
/*       Speciality/end      */
/*         menu              */
.main_menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}
.menu_text {
    text-align: center;
    font-family: "Sintony";
}
.menu {
    margin-top: 50px;
    margin-left: 27%;
    margin-right: 27%;
    display: flex;            
    justify-content: flex-start;
}
.menu1 {
    width: 200px;
    margin-right: 90px;
}
.menu2 {
    width: 200px;
    margin-right: 90px;
}
.menu3 {
    width: 200px;
}
/*        menu/end           */
/*         open              */
.open {
    background-color: blanchedalmond;
    margin-top: 10px;
    width: 100%;
}
.open__inner {
    padding-bottom: 3.5%;
    padding-top: 3.5%;

    display: flex;
    justify-content: space-between;
}
.open__title {
    font-size: 35px;
    padding-top: 7%;
}
.curs__title {
    padding-top: 45%;
    font-size: 20px;
    font-family: "PlayfairDisplay" cursive;
    color: rgb(59, 59, 70);
    font-style: italic;
    line-height: 1.2;
}
.orang__time {
    font-size: 22px;
    text-transform: uppercase;
    font-family: "PlayfairDisplay";
    color: #fea100;
    line-height: 1.2;
}
.open__img {
    max-width: 210px;
    max-height: 210px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
/*        open/end           */
/*        footer             */
footer {
    padding-bottom: 70px;
    display: block;
    position: relative;
    bottom: 0;
    background-color: #373844;
}
.footer__inner {
    display: flex;
    justify-content: space-around;
}
.footer__title {
    font-family: "PlayfairDisplay";
    font-weight: bold;
    line-height: 0.917;
    font-size: 24px;
    color: #fff;
    opacity:0.9 ;
    padding-bottom: 25px;
}
.footer__title:hover {
    opacity:1 ;
    color: #fff;
}
.item {
    display: block;
    font-size: 13px;
    font-family: "Sintony";
    line-height: 2;
    color: #ffffff;
    opacity:0.65 ;
    list-style: none ;
    text-decoration: none;
}
.item:hover {
    opacity:1 ;
    color: #fff;
}
.news__text {
    display: block;
    font-size: 13px;
    font-family: "Sintony";
    line-height: 2;
    color: #ffffff;
    opacity:0.5 ;
}
.email {
    margin: 10px auto;
    padding: 15px 10px 10px;
    font-size: 12pt;
    color: #fff;
    border-radius: 10px;
    border: #52535e solid  2px ;
    background-color: #373844;
    width: 310px;
    height: 50px;
}
.Subscribe {
    margin-left: 10px;
    font-size: 17px;
    font-family: "Sintony";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.143;
    border-radius: 10px;
    background-color: #ffa601;
    width: 150px;
    height: 53px;
    transition: background .5s linear;
}
.Subscribe:hover {
    background-color: #fff;
    color: #fea100;
}
.email:hover {
    background-color: #373844;
}
.icon {
    margin-top: 30px;
}
.icon_img {
    padding: 0 15px;
}
.icon_img:hover {
    opacity: 0.8;
}
.img_app {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    padding: 7px 0px 0px 0px;
}
.img_app:hover {
    opacity: 0.8;
}

.copyright {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.left_ln::after {
    content: "";
    display: block;
    width: 340px;
    height: 1px;
    background-color: #52535e;
    margin-right: 50px;
    margin-top: 7px;
}
.copy {
    color: #fff;
    opacity: 0.7;
}
.right_ln::after {
    content: "";
    display: block;
    width: 340px;
    height: 1px;
    background-color: #52535e;
    margin-left: 50px;
    margin-top: 7px;
}
@media (max-width: 1000px) {
    .menu {
        padding: 1rem;
	    display: grid;
	    grid-template-columns: repeat(10, 80vw);
	    grid-template-rows: 1fr;
	    grid-column-gap: 1rem;
	    grid-row-gap: 1rem;
	    overflow: scroll;
	    scroll-snap-type: both mandatory;
	    scroll-padding: 1rem;
    }
    .active {
        scroll-snap-type: unset;
    }
    .img_m {
        scroll-snap-align: center;
	    display: inline-block;
	    border-radius: 3px;
	    font-size: 0;
    }   
    .banner__fon {
        height: 130px;
    }
    .About_Us {
        padding-top: 40px;
        font-size: 1.5em;
    }
    .lorem {
        font-size: 13px;
    }
    .Speciality {
        padding-right: 0.1%;
    }
    .Sp__inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .open__img {
        display: none;
    }
    .open__title {
        padding-top: 5%;
        font-size: 20px;
    }
    .curs__title {
        padding-top: 10%;
        font-size: 18px;
    }
    .orang__time {
        font-size: 17px;
    }
    .footer__inner {
        justify-content: center;
        flex-wrap: wrap;
        padding: 10%;
    }
    .copyright {
        justify-content: center
    }
    .left_ln::after {
        display: none;
    }
    .right_ln::after {
        display: none;
    }
    .video__scrin {
        margin-left: 0.1%;
        margin-right: 0.1%;
    }
    .nav {
        display: none;
    }
    .container {
        margin-left: 1%;
        margin-right: 1%;
        padding-right: 1%;
    }
    .cler__color {
        justify-content: center;
    }
}
/*        footer/end         */